body{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
header{
    position: relative;
    height: 160px;
    background-color: gold;
    z-index: 2;
    padding: 20px;
}
header h1{
    text-align: center;
    padding: 5px;
    height: auto;
}
/* header ul{
    display: flex;
    display: inline;
    padding: 20px;
    text-decoration: none;
    list-style-type: none;
}
header ul li {
    display: flex;
    flex-direction: column-reverse;
} */
/* nav {
    background-color: #3E2723;
} */

.navbar {
    position: static;
    list-style-type: none; /* Elimina los puntos de lista */
    margin: 10px;
    padding: 0;
    overflow: hidden; /* Asegura que los elementos se mantengan en la misma línea */
}

/* .navbar li {
    float: left; Coloca los elementos en fila horizontal
} */

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    border: 1px solid;
    border-radius: 50px;
}
.navbar a:hover{
    padding: 14px 20px;
    background-color: goldenrod;
    color: black;
    
}
main{
    display: flex;
    justify-content: center;
    width: 70%;
    /* flex-direction: row wrap; */
    justify-content: space-between;
    /* margin-right: 30px;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 20px; */
    margin: 0 auto;
}
main section{
    display: flex;
    flex-direction: column;
    border: 2px solid;
    /* height: 500px; */
    padding: 20px;
    margin: 5px;
    background-color: white;
}

.boxA{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: 10px;
    
}
.BoxB{
    display: flex;
    /* background-color: goldenrod; */
    padding: 10px;
    width: 600px;
    height: 450px;
}

/* .BoxB section form label{
    padding: 5px;
} */
.BoxB section form input {
    margin-bottom: 10px;
}
.BoxB section form a{
    border: black solid 2px;
    padding: 5px;
    text-decoration: none;
    margin-top: 5px;
}
aside{
    background-color: gold;
    position: fixed;
    height: 100%;
    right: 0;
    bottom: 0;
    top: 0;
    max-width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px; 
    padding-top: 170px;
    z-index: 1;
}
aside form input{
    max-width: 150px;
}
aside form textarea{
    max-width: 150px;
}
footer{
    position: relative;
    background-color: gold;
    text-align: center;
    padding: 20px;
}


